@import './app-theme';
@import './styles/api';
@import './styles/markdown';
@import './styles/tables';
@import './styles/general';

@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$offscale-devops-web-primary: mat-palette($mat-indigo);
$offscale-devops-web-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$offscale-devops-web-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$offscale-devops-web-theme: mat-light-theme($offscale-devops-web-primary, $offscale-devops-web-accent, $offscale-devops-web-warn);


$offscale-light-www-theme: mat-light-theme($offscale-devops-web-primary, $offscale-devops-web-accent);

$dark-primary: mat-palette($mat-deep-orange);
$dark-accent: mat-palette($mat-amber, A200, A100, A400);
$dark-warn: mat-palette($mat-deep-purple);
$offscale-dark-www-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

@include angular-material-theme($offscale-dark-www-theme);
@include offscale-devops-web-theme($offscale-dark-www-theme);
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
